<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHe_HgrCvH7ZyNTsbuXRQyG0NJEXAIbAU</string>
	<key>GCM_SENDER_ID</key>
	<string>176025296243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hits.bdui-x</string>
	<key>PROJECT_ID</key>
	<string>bduix-12b4f</string>
	<key>STORAGE_BUCKET</key>
	<string>bduix-12b4f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:176025296243:ios:f1b9a5aed9d8facee8b906</string>
</dict>
</plist>